
*{
  padding: 0;
  margin: 0;
}
.Navbar
{
  padding: 12px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 70px;
  background-color: #FD841F;
  justify-content: space-around;
}

ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 85%;
  justify-content: space-between;
  align-items: center;
}
.nav-item
{
  font-size: 20px;
  font-family: 'Poppins';
  color: #000;
}

#l1
{
  width: 100%;
  height: 100vh;
  background-color: #96ceb4;
  display: flex;
}
.titulo{
  font-family: 'Poppins';
  font-size: 30px;
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: center;
}
.texto{
  display: flex;
  flex-direction: column;
  width: 50%;
  font-family: 'Poppins';
  font-size: 30px;
  font-weight: 300;
  text-align: left;
  color: #000;
}

.perro
{
display: flex;

float: left;
}

#l2
{
  width: 100%;
  height: 100vh;
  background-color: #BAD4EE;
  display: flex;
}
#circle1
{
  width: 80vh;
}

#l25
{
  display: flex;
  font-family: 'Poppins';
  font-size: 30px;
  font-weight: 900 !important;
  text-align: center !important;
  color: #000;
  margin-left: 180px;
  margin-top: 30px;
}
#l26{
  display: flex;
  font-family: 'Poppins';
  font-size: 30px;
  font-weight: 900 !important;
  text-align: center !important;
  color: #000;
  margin-left: 100px;
  margin-top: 30px;
}

#l3
{
  width: 100%;
  height: 20vw;
  display: flex;
  font-size: 40px;
  text-align: center !important;
  background-color:#96CEB4 ;
}
#l4
{
  width: 100%;
  height: 100vh;
  background-color: #BAD4EE;
}